<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>airtime</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    



    <div id="balances">
    	<ul>
    		<li>Balance: {{ balance }}</li>
    		<li>Earned Overall: {{ earned_overall }}</li>
    		<li>Pending Balance: {{ pending_balance }}</li>
    		<li>Redemption Freshold: {{ redemption_threshold }}</li>
    	</ul>
    </div>
  </body>
</html>